// VARIABLES DE ESTILO
$color-primario: #6a5acd; 
$color-secundario: #20b2aa;
$color-fondo: #0f0f12;
$color-tarjeta: #1a1a1f;
$color-texto: #000000;
$fuente: 'Segoe UI', sans-serif;


//variables mascotas//
$primary: #ff8c00;
$dark: #333;
$white: #fff;

$primary-color: #ff8c00;
$text-light: #ffffff;
$bg-card: #fdfdfd;
$transition-smooth: all 0.4s ease;

// --- PALETA DE COLORES ---

$color-primary:    #FF8C42; // Naranja Atardecer (Energía y alegría)
$color-secondary:  #4E7D6B; // Verde Bosque Suave (Naturaleza y calma)
$color-accent:     #fff7e4; // Amarillo Mostaza (Calidez y felicidad)
$color-dark:       #2D3142; // Azul Carbón (Para textos y títulos - lectura profesional)
$color-light:      #FDF9F3; // Crema Hueso (Fondo general - mucho más acogedor que el blanco puro)
$color-white:      #FFFFFF; // Blanco puro (Para tarjetas y elementos destacados)

// --- USO SUGERIDO ---
// Fondo del body: $color-light
// Botones y enlaces: $color-primary
// Iconos de salud/servicios: $color-secondary
// Títulos: $color-dark